# Computer Assignment 3

In [1]:
import pandas as pd
import numpy as np

# open the txt file and read its contents
with open('ionosphere.txt', 'r', encoding='ISO-8859-1') as file:
    data = file.read()

# remove first 2 letters
data = data[2:]

# remove '\x00' from the data
data = data.replace('\x00', '')

# create a dataframe from the data
df = pd.DataFrame([row.split() for row in data.split('\n')])

# drop the row with odd index
df = df.drop(df.index[1::2])
# drop the last row
df = df.drop(df.index[-1])

# firt row is the column names
df.columns = df.iloc[0]
# drop the first row
df = df.drop(df.index[0])

column_name = [f"f{i}" for i in range(1, 35)] + ['class']

# rename the columns
df.columns = column_name

# convert the class column to binary
df['class'] = df['class'].replace(['g', 'b'], [1, 2]) # g = 1, b = 2

# convert the data type to float
df = df.astype(float)

# reset the index
df = df.reset_index(drop=True)

df.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f26,f27,f28,f29,f30,f31,f32,f33,f34,class
0,1.0,0.0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,1.0
1,1.0,0.0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,2.0
2,1.0,0.0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,1.0
3,1.0,0.0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,2.0
4,1.0,0.0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,1.0

## Define variables, constants

In [2]:
N = len(df)
print(f"Number of samples: {N}")

Number of samples: 351

# Feature selection

## T-Test at 99% confident

In [3]:
# import stats
import scipy.stats as stats

def ttest(df, feature):
    """
    Perform t-test on the given feature and return the t-statistic and p-value
    """

    # group the dataframe by class
    grouped = df.groupby("class")
    # get the groups
    group1 = grouped.get_group(1)[feature]
    group2 = grouped.get_group(2)[feature]
    print(f"Group 1 Mean: {group1.mean()}")
    print(f"Group 1 Variance: {group1.var()}")
    print(f"Group 2 Mean: {group2.mean()}")
    print(f"Group 2 Variance: {group2.var()}")

    # if mean and variance are equal, then the t-statistic is 0
    # and the p-value is 1
    # so, we can return False
    if group1.mean() == group2.mean() and group1.var() == group2.var():
        print("The null hypothesis is accepted")
        print("The feature is rejected")
        return False        

    # perform t-test
    # variance is unknown
    N1 = len(group1)
    N2 = len(group2)
    print(f"N1: {N1}")
    print(f"N2: {N2}")
    if N1 == N2:
        dof = 2*N1 - 2
        print("N1 == N2")
        print("Performing t-test...")
        s_squared = (group1.var() + group2.var())/(2*N1 - 2)
        s = s_squared**0.5
        q = (group1.mean() - group2.mean()) / (s * (2/N1))**0.5
        
        # p-value
        p_value = 1 - stats.t.cdf(abs(q), df=dof)
        print(f"p-value: {p_value}")

        # confidence interval
        ci = stats.t.ppf(0.99, dof)
        print(f"Confidence Interval (ci): {ci}")
        print(f"q: {q}")
        print(f"q in (-ci, ci): {-ci <= q <= ci}")
        if -ci <= q <= ci:
            print("The null hypothesis is accepted")
            print("The feature is rejected")
            return False
        else:
            print("The null hypothesis is rejected")
            print("The feature is accepted")
            return True

    else:
        print("N1 != N2")
        print("Performing t-test...")
        dof = N1 + N2 - 2
        s_squared = (group1.var() + group2.var())/(N1 + N2 - 2)
        s = s_squared**0.5
        q = (group1.mean() - group2.mean()) / (s * ((1/N1) + (1/N2))**0.5)
        
        # p-value
        p_value = 1 - stats.t.cdf(abs(q), df=dof)
        print(f"p-value: {p_value}")

        # confidence interval
        ci = stats.t.ppf(0.99, dof)
        print(f"Confidence Interval (ci): {ci}")
        print(f"q: {q}")
        print(f"q in (-ci, ci): {-ci <= q <= ci}")
        if -ci <= q <= ci:
            print("The null hypothesis is accepted")
            print("The feature is rejected")
            return False
        else:
            print("The null hypothesis is rejected")
            print("The feature is accepted")
            return True

In [4]:
# calculate t-statistic and p-value for each feature
feature_accepted = []

print(f"Degrees of Freedom: {N - 2}")
print("T-Test Results\n")

for feature in df.columns[:-1]:
    print(f"Feature: {feature}")
    feature_accepted.append(ttest(df, feature))
    
    print()

Degrees of Freedom: 349
T-Test Results

Feature: f1
Group 1 Mean: 1.0
Group 1 Variance: 0.0
Group 2 Mean: 0.6984126984126984
Group 2 Variance: 0.21231746031746032
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.0
Confidence Interval (ci): 2.3370800187225425
q: 109.8894204731954
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f2
Group 1 Mean: 0.0
Group 1 Variance: 0.0
Group 2 Mean: 0.0
Group 2 Variance: 0.0
The null hypothesis is accepted
The feature is rejected

Feature: f3
Group 1 Mean: 0.8344220444444445
Group 1 Variance: 0.04039953938419449
Group 2 Mean: 0.2965557936507936
Group 2 Variance: 0.43426932429336473
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.0
Confidence Interval (ci): 2.3370800187225425
q: 131.0734133289973
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f4
Group 1 Mean: 0.08589719999999999
Group 1 Variance: 0.05682499641489287
Group 2 Mean: -0.029780476190476184
Group 2 Variance: 0.4351442735997717
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.0
Confidence Interval (ci): 2.3370800187225425
q: 27.689572735892654
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f5
Group 1 Mean: 0.8017057333333334
Group 1 Variance: 0.04500985977635714
Group 2 Mean: 0.24278603174603172
Group 2 Variance: 0.4742063154433266
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.0
Confidence Interval (ci): 2.3370800187225425
q: 130.22998740223986
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f6
Group 1 Mean: 0.16723071111111112
Group 1 Variance: 0.09382670811645635
Group 2 Mean: 0.024207380952380946
Group 2 Variance: 0.4132137572466855
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.0
Confidence Interval (ci): 2.3370800187225425
q: 33.72261641487198
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f7
Group 1 Mean: 0.715917111111111
Group 1 Variance: 0.0828458248063492
Group 2 Mean: 0.2539842857142857
Group 2 Variance: 0.39324439084548607
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.0
Confidence Interval (ci): 2.3370800187225425
q: 112.40092454495203
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f8
Group 1 Mean: 0.2001237777777778
Group 1 Variance: 0.15519450005753968
Group 2 Mean: -0.024860000000000004
Group 2 Variance: 0.44848990519999926
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.0
Confidence Interval (ci): 2.3370800187225425
q: 48.61630111374103
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f9
Group 1 Mean: 0.6235712444444445
Group 1 Variance: 0.16482805274844434
Group 2 Mean: 0.31234246031746027
Group 2 Variance: 0.3619627552810986
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.0
Confidence Interval (ci): 2.3370800187225425
q: 71.99400746867137
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f10
Group 1 Mean: 0.22496222222222223
Group 1 Variance: 0.15316646464146813
Group 2 Mean: 0.10345817460317461
Group 2 Variance: 0.3714990850102413
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.0
Confidence Interval (ci): 2.3370800187225425
q: 28.163404847658427
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f11
Group 1 Mean: 0.5468853333333333
Group 1 Variance: 0.25913480443660714
Group 2 Mean: 0.3499278571428571
Group 2 Variance: 0.39964349026657126
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.0
Confidence Interval (ci): 2.3370800187225425
q: 40.741640904612375
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f12
Group 1 Mean: 0.2141798666666667
Group 1 Variance: 0.15391887782185706
Group 2 Mean: 0.049434365079365085
Group 2 Variance: 0.3922041198999938
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.0
Confidence Interval (ci): 2.3370800187225425
q: 37.42863759551215
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f13
Group 1 Mean: 0.48527186666666666
Group 1 Variance: 0.34484988788846416
Group 2 Mean: 0.24996071428571429
Group 2 Variance: 0.4301742018706859
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.0
Confidence Interval (ci): 2.3370800187225425
q: 44.87666724832109
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f14
Group 1 Mean: 0.16627955555555557
Group 1 Variance: 0.13848567071676585
Group 2 Mean: -0.03670396825396825
Group 2 Variance: 0.4109276521857271
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.0
Confidence Interval (ci): 2.3370800187225425
q: 45.97766178001698
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f15
Group 1 Mean: 0.4452390666666667
Group 1 Variance: 0.406784686054036
Group 2 Mean: 0.1636592857142857
Group 2 Variance: 0.41312583064668523
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.0
Confidence Interval (ci): 2.3370800187225425
q: 52.21002787905706
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f16
Group 1 Mean: 0.12209133333333333
Group 1 Variance: 0.12486851923839282
Group 2 Mean: -0.01986587301587301
Group 2 Variance: 0.351504704194032
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.0
Confidence Interval (ci): 2.3370800187225425
q: 34.531819315437694
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f17
Group 1 Mean: 0.4221553777777778
Group 1 Variance: 0.3805850175124683
Group 2 Mean: 0.31015190476190474
Group 2 Variance: 0.37934343507794366
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.0
Confidence Interval (ci): 2.3370800187225425
q: 21.57152376246937
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f18
Group 1 Mean: 0.040685911111111105
Group 1 Variance: 0.1536514951269564
Group 2 Mean: -0.08272880952380951
Group 2 Variance: 0.40577773703617137
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.0
Confidence Interval (ci): 2.3370800187225425
q: 27.70320867112712
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f19
Group 1 Mean: 0.4143478222222223
Group 1 Variance: 0.3605527353162185
Group 2 Mean: 0.26124992063492064
Group 2 Variance: 0.4369326468711945
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.0
Confidence Interval (ci): 2.3370800187225425
q: 28.78349718206592
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f20
Group 1 Mean: -0.010208088888888895
Group 1 Variance: 0.16616049127177773
Group 2 Mean: -0.04869722222222223
Group 2 Variance: 0.455715148116222
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 2.4424906541753444e-15
Confidence Interval (ci): 2.3370800187225425
q: 8.194492209227068
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f21
Group 1 Mean: 0.43676008888888884
Group 1 Variance: 0.32072546164642063
Group 2 Mean: 0.15800865079365078
Group 2 Variance: 0.4163459239717644
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.0
Confidence Interval (ci): 2.3370800187225425
q: 54.51274200992033
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f22
Group 1 Mean: -0.03676911111111111
Group 1 Variance: 0.18580582655009925
Group 2 Mean: 0.088769126984127
Group 2 Variance: 0.4086411531776319
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.0
Confidence Interval (ci): 2.3370800187225425
q: -27.337270718094494
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f23
Group 1 Mean: 0.45467786666666665
Group 1 Variance: 0.2863620550945356
Group 2 Mean: 0.19782841269841273
Group 2 Variance: 0.4649098753942606
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.0
Confidence Interval (ci): 2.3370800187225425
q: 49.752596678109605
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f24
Group 1 Mean: -0.05496471111111111
Group 1 Variance: 0.17465738481252777
Group 2 Mean: -0.06176476190476192
Group 2 Variance: 0.46597255860434234
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.07732204638844442
Confidence Interval (ci): 2.3370800187225425
q: 1.4264095130812742
q in (-ci, ci): True
The null hypothesis is accepted
The feature is rejected

Feature: f25
Group 1 Mean: 0.47747857777777775
Group 1 Variance: 0.24974904822653968
Group 2 Mean: 0.2508776984126984
Group 2 Variance: 0.45616622664826006
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.0
Confidence Interval (ci): 2.3370800187225425
q: 45.28151909357664
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f26
Group 1 Mean: -0.0706012
Group 1 Variance: 0.17299088069453572
Group 2 Mean: -0.07223269841269839
Group 2 Variance: 0.41398526117825957
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.36045570620160183
Confidence Interval (ci): 2.3370800187225425
q: 0.3575296944782096
q in (-ci, ci): True
The null hypothesis is accepted
The feature is rejected

Feature: f27
Group 1 Mean: 0.49878217777777784
Group 1 Variance: 0.2210454138662181
Group 2 Mean: 0.6181740476190476
Group 2 Variance: 0.3407843893154856
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.0
Confidence Interval (ci): 2.3370800187225425
q: -26.742872519157228
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f28
Group 1 Mean: -0.05196422222222222
Group 1 Variance: 0.15477162264325398
Group 2 Mean: -0.1009186507936508
Group 2 Variance: 0.5681784707525648
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.0
Confidence Interval (ci): 2.3370800187225425
q: 9.666594776096801
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f29
Group 1 Mean: 0.4860455111111111
Group 1 Variance: 0.21330572089092065
Group 2 Mean: 0.18630174603174604
Group 2 Variance: 0.48830529454572646
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.0
Confidence Interval (ci): 2.3370800187225425
q: 60.081068207569764
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f30
Group 1 Mean: -0.029403288888888893
Group 1 Variance: 0.17681735793199213
Group 2 Mean: -0.025235317460317454
Group 2 Variance: 0.4056375878378987
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.17991007972164585
Confidence Interval (ci): 2.3370800187225425
q: -0.9169153671842576
q in (-ci, ci): True
The null hypothesis is accepted
The feature is rejected

Feature: f31
Group 1 Mean: 0.47824439999999996
Group 1 Variance: 0.2023789728051071
Group 2 Mean: 0.12799468253968255
Group 2 Variance: 0.47253112949229875
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.0
Confidence Interval (ci): 2.3370800187225425
q: 71.57980584261435
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f32
Group 1 Mean: -0.017611199999999997
Group 1 Variance: 0.16599450899900006
Group 2 Mean: 0.020880238095238087
Group 2 Variance: 0.44010465149834305
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 1.1102230246251565e-15
Confidence Interval (ci): 2.3370800187225425
q: -8.300953535068201
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f33
Group 1 Mean: 0.4513632444444445
Group 1 Variance: 0.2122440614407659
Group 2 Mean: 0.16722150793650795
Group 2 Variance: 0.3323860284353075
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.0
Confidence Interval (ci): 2.3370800187225425
q: 64.6427615506438
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

Feature: f34
Group 1 Mean: -0.007976888888888894
Group 1 Variance: 0.16280573157509942
Group 2 Mean: 0.054581904761904755
Group 2 Variance: 0.31987465237714263
N1: 225
N2: 126
N1 != N2
Performing t-test...
p-value: 0.0
Confidence Interval (ci): 2.3370800187225425
q: -15.117996050099864
q in (-ci, ci): False
The null hypothesis is rejected
The feature is accepted

In [5]:
# the accepted features are 
accepted_features = [feature for feature, accepted in zip(df.columns[:-1], feature_accepted) if accepted]
print(f"Accepted Features: {accepted_features}")

print(f"Rejected Features: {[feature for feature in df.columns[:-1] if feature not in accepted_features]}")

Accepted Features: ['f1', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10', 'f11', 'f12', 'f13', 'f14', 'f15', 'f16', 'f17', 'f18', 'f19', 'f20', 'f21', 'f22', 'f23', 'f25', 'f27', 'f28', 'f29', 'f31', 'f32', 'f33', 'f34']
Rejected Features: ['f2', 'f24', 'f26', 'f30']

# Linear classifier

In [6]:
class LinearClassifier:
    def __init__(self, learning_rate=0.01, num_iterations=1000):
        self.learning_rate = learning_rate
        self.T = num_iterations
        self.w = None
        self.b = None
        self.labels = None
        
    def fit(self, X, y):        
        # take the labels from y
        self.labels = np.unique(y)
        decision_boundary = (self.labels[0] + self.labels[1]) / 2

        # initialize the weights and bias to zeros
        self.w = np.zeros(X.shape[1])
        self.b = 0
        
        # gradient descent
        for i in range(self.T):
            # calculate the predicted values
            y_pred = np.dot(X, self.w) + self.b
            
            # calculate the gradients/cost function
            dw = (1/X.shape[0]) * np.dot(X.T, (y_pred - y))
            db = (1/X.shape[0]) * np.sum(y_pred - y)
            
            # update the weights and bias if misclassified
            self.w -= self.learning_rate * dw
            self.b -= self.learning_rate * db

            # check termination condition, if satisfied, break
            if np.linalg.norm(dw) < 1e-4:
                # print(f"Terminated at iteration {i}")
                break

            
    def predict(self, X):
        # calculate the predicted values
        y_pred = np.dot(X, self.w) + self.b
        
        # convert the predicted values to binary
        decision_boundary = (self.labels[0] + self.labels[1]) / 2
        y_pred_binary = np.where(y_pred < decision_boundary, self.labels[0], self.labels[1])
        
        return y_pred_binary

In [7]:
def cross_validate(df, features, target):
    # shuffle the dataframe
    df = df.sample(frac=1).reset_index(drop=True)
    
    # calculate the number of samples in 10% of the dataframe
    n_samples = int(len(df) * 0.1)
    
    # initialize the accuracy list
    accuracy_list = []
    
    # loop through each split
    for i in range(10):
        # calculate the start and end indices for the test set
        start_index = i * n_samples
        end_index = (i + 1) * n_samples
        
        # split the data into train and test sets
        X_test = df.iloc[start_index:end_index][features]
        X_train = pd.concat([df.iloc[:start_index][features], df.iloc[end_index:][features]])
        y_train = pd.concat([df.iloc[:start_index][target], df.iloc[end_index:][target]])
        y_test = df.iloc[start_index:end_index][target]

        # initialize the linear classifier
        clf = LinearClassifier()
        
        # fit the classifier on the train set
        clf.fit(X_train, y_train)
        
        # predict the target values for the test set
        y_pred = clf.predict(X_test)
        
        # calculate the accuracy of the classifier
        accuracy = sum(y_pred == y_test) / len(y_test)
        
        # append the accuracy to the accuracy list
        accuracy_list.append(accuracy)

        # add other classifiers here
    
    # calculate the mean accuracy
    mean_accuracy = sum(accuracy_list) / len(accuracy_list)
    
    return mean_accuracy

# The results

In [8]:
target_column = 'class'
acc_list = []

# using all features
print("Using all features")

# collect time execution
import time
start = time.time()
accuracy = cross_validate(df, df.columns[:-1], target_column)
end = time.time()
print(f"Mean accuracy: {accuracy}\n")
acc_list.append(['all', accuracy, end-start])

# using accepted features
print("Using accepted features")
start = time.time()
accuracy = cross_validate(df, accepted_features, target_column)
end = time.time()
print(f"Mean accuracy: {accuracy}")
acc_list.append(['accepted', accuracy, end-start])

Using all features

Mean accuracy: 0.8142857142857143

Using accepted features
Mean accuracy: 0.8342857142857142

In [9]:
# using rejected features
print("Using rejected features")
rejected_features = [feature for feature in df.columns[:-1] if feature not in accepted_features]
start = time.time()
accuracy = cross_validate(df, rejected_features, target_column)
end = time.time()
print(f"Mean accuracy: {accuracy}")
acc_list.append(['rejected', accuracy, end-start])

Using rejected features
Mean accuracy: 0.642857142857143

In [10]:
# using one feature at a time
# loop through the features and calculate the accuracy
for feature in df.columns[:-1]:
    start = time.time()
    accuracy = cross_validate(df, [feature], target_column)
    end = time.time()
    acc_list.append([feature, accuracy, end-start])

In [19]:
# create a dataframe from the accuracy list
acc_df = pd.DataFrame(acc_list, columns=['feature', 'accuracy', 'time'])
# convert accuracy to percent and round to 2 decimal places
acc_df['accuracy'] = round(acc_df['accuracy'] * 100, 2)
# convert time to 2 decimal places
acc_df['time'] = round(acc_df['time'], 2)
# show acc_df sorted by accuracy
acc_df.sort_values(by='accuracy', ascending=False)

     feature  accuracy   time
1   accepted     83.43  29.28
7         f5     82.00   5.37
0        all     81.43  29.96
5         f3     76.86   4.84
16       f14     69.43   4.38
9         f7     68.00   3.56
10        f8     67.71   3.46
33       f31     67.14   5.51
31       f29     66.86   5.35
25       f23     66.00   3.89
11        f9     66.00   4.92
27       f25     65.14   3.97
18       f16     65.14   2.92
14       f12     64.86   4.12
6         f4     64.29   1.92
4         f2     64.29   0.04
2   rejected     64.29   5.36
32       f30     64.29   0.93
3         f1     64.29   4.85
21       f19     64.29   4.50
24       f22     64.29   5.17
35       f33     64.00   4.90
34       f32     64.00   3.41
30       f28     64.00   1.16
29       f27     64.00   4.93
28       f26     64.00   0.95
13       f11     64.00   4.09
26       f24     64.00   0.98
22       f20     64.00   3.24
20       f18     64.00   5.43
19       f17     64.00   5.39
8         f6     64.00   3.11
12       f10     64.00   5.01
36       f34     64.00   5.10
15       f13     62.00   4.43
23       f21     61.71   3.96
17       f15     61.43   5.49

In [20]:
# sort acc_df by accuracy in descending order
acc_df_sorted = acc_df.sort_values(by='accuracy', ascending=False)

# convert acc_df_sorted to a list
acc_list_sorted = acc_df_sorted.values.tolist()

# print the sorted list
print(acc_list_sorted)

[['accepted', 83.43, 29.28], ['f5', 82.0, 5.37], ['all', 81.43, 29.96], ['f3', 76.86, 4.84], ['f14', 69.43, 4.38], ['f7', 68.0, 3.56], ['f8', 67.71, 3.46], ['f31', 67.14, 5.51], ['f29', 66.86, 5.35], ['f23', 66.0, 3.89], ['f9', 66.0, 4.92], ['f25', 65.14, 3.97], ['f16', 65.14, 2.92], ['f12', 64.86, 4.12], ['f4', 64.29, 1.92], ['f2', 64.29, 0.04], ['rejected', 64.29, 5.36], ['f30', 64.29, 0.93], ['f1', 64.29, 4.85], ['f19', 64.29, 4.5], ['f22', 64.29, 5.17], ['f33', 64.0, 4.9], ['f32', 64.0, 3.41], ['f28', 64.0, 1.16], ['f27', 64.0, 4.93], ['f26', 64.0, 0.95], ['f11', 64.0, 4.09], ['f24', 64.0, 0.98], ['f20', 64.0, 3.24], ['f18', 64.0, 5.43], ['f17', 64.0, 5.39], ['f6', 64.0, 3.11], ['f10', 64.0, 5.01], ['f34', 64.0, 5.1], ['f13', 62.0, 4.43], ['f21', 61.71, 3.96], ['f15', 61.43, 5.49]]